table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 550;
}
th {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
  background-color: #000;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btnedit {
  background-color: rgb(3, 144, 187);
  color: #ffffff;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: none;
  width: 15%;
  cursor: pointer;
}
.btndelete {
  background-color: rgb(245, 76, 9);
  color: #ffffff;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: none;
  width: 15%;
  cursor: pointer;
}
