.mainLayoutDashboard {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  background-color: rgb(199, 198, 197);
}
.mainLayoutDashboard ul {
  display: flex;
}
.mainLayoutDashboard ul li {
  padding: 20px;
  display: flex;
  font-weight: bold;
  font-size: 22px;
}
.mainLayoutDashboard ul li:hover {
  text-decoration: underline;
  color: brown;
  cursor: pointer;
}
.mainLayoutDashboard img {
  width: 60px;
  height: 60px;
}
.manageLogo {
  display: flex;
  align-items: center;
}
